main {
	margin: 100px 200px 0 200px;
	text-align: center;
}

#local-mora {
	color: #f2f2f2;
	margin-left: 25px;
}

#img-programadora {
	width: auto;
	height: 100px;
	margin-left: 25px;
	padding: 10px;
}

#softskills,
#hardskills {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	color: #ffc300;
}

.itens-habilidades {
	margin: 10px;
}

.item-habilidade {
	color: #f2f2f2;
	font-family: "Roboto", sans-serif;
	padding: 2px;
}
