main {
	margin: 100px 200px 0 200px;
	text-align: center;
}

#local-mora {
	color: #f2f2f2;
	margin-left: 25px;
}

#bio {
	font-family: "Roboto", sans-serif;
	margin: 10px;
	color: #f2f2f2;
	line-height: 1.4;
}


#softskills,
#hardskills {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	color: #ffc300;
}

.itens-habilidades {
	margin: 10px;
}

.item-habilidade {
	color: #f2f2f2;
	font-family: "Roboto", sans-serif;
	padding: 2px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	main {
		margin: 10px 20px 0 20px;
	}

	#bio {
		font-family: "Roboto", sans-serif;
		color: #f2f2f2;
		line-height: 1.4;
		text-align: justify;
	}
}