#nome-titulo {
	font-family: "Kdam Thmor Pro", sans-serif;
	font-size: 30px;
	color: #ffc300;
}

/* * CONTEÚDO PRINCIPAL */

main {
	margin: 0 200px 0 200px;
}

#foto-perfil {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

#bio {
	font-family: "Roboto", sans-serif;
	margin: 10px;
	color: #f2f2f2;
	line-height: 1.4;
}
