#nome-titulo {
	font-family: "Kdam Thmor Pro", sans-serif;
	font-size: 30px;
	color: #ffc300;
	padding-left: 10px;
}

/* * CONTEÚDO PRINCIPAL */

.profissao {
	color: #fff;
	font-weight: bold;
	padding-left: 70px;
}

.nav-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}