body {
	background: url(../assets/img/Wave-10s-1366px.svg);
}

a {
	text-decoration: none;
}

.itens-lista-nav {
	color: #ffc300;
	font-weight: bold;
	font-family: "Maven Pro", sans-serif;
	text-transform: uppercase;
	text-align: right;
	padding: 10px;
	font-size: 14px;
	margin-top: 10px;
}

.item-lista-nav {
	margin: 0 10px 0 10px;
	display: inline;
}

.item-lista-nav a:visited {
	color: #ffc300;
}

/* * FOOTER */

footer {
	padding: 10px 5px;
}

#contato {
	color: #ffc300;
}

.itens-redes {
	display: inline;
}

#copyright {
	text-align: center;
	color: #ffc300;
	background-color: #000814;
	padding: 10px 0;
	font-size: 12px;
}
