body {
	background-color: #143F6B;
}

a {
	text-decoration: none;
}

.itens-lista-nav {
	color: #ffc300;
	font-weight: bold;
	font-family: "Maven Pro", sans-serif;
	text-transform: uppercase;
	text-align: right;
	padding: 10px;
	font-size: 14px;
	margin-top: 10px;
}

.item-lista-nav {
	margin: 0 10px 0 10px;
	display: inline;
}

.item-lista-nav a:visited {
	color: #ffc300;
}

.item-lista-nav a:hover {
	color: #ffff3f;
}

/* * FOOTER */

footer {
	padding: 10px 5px;
}

#contato {
	color: #ffc300;
	margin: 3px 0;
}

.itens-redes {
	display: inline-block;
}

#copyright {
	text-align: center;
	color: #ffc300;
	padding: 8px 0;
	font-size: 12px;
	bottom: 0;
	position: absolute;
	width: 100%;
}

.icone-rede {
	height: 10vh;
}

/* * trocar o icone de preto para amarelo */
.git img:nth-child(2) {
	display: none;
}

.git:hover img:nth-child(1) {
	display: none;
}

.git:hover img:nth-child(2) {
	display: block;
	height: 10vh;

}

.linkedin img:nth-child(2) {
	display: none;
}

.linkedin:hover img:nth-child(1) {
	display: none;
}

.linkedin:hover img:nth-child(2) {
	display: block;
	height: 10vh;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}