.form-container {
  width: 65vh;
  border-color: white;
  border-style: solid;
  padding: 1rem;
  color: antiquewhite;
}

.button {
  color: antiquewhite;

}

.button:hover {
  background-color: #ffc300;
}