* {
  margin: 0;
}

body {
  background-color: #F9F7F5;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'VT323', monospace;
  padding-bottom: 25px;
  font-size: 50px;
}

p {
  text-align: center;
  padding-bottom: 15px;
  font-family: 'VT323',
    monospace;
  ;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.color:first-child {
  background-color: black;
}

.color:nth-child(2) {
  background-color: red;
}

.color:nth-child(3) {
  background-color: green;
}

.color:last-child {
  background-color: blue;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  width: 255px;
  margin-top: 10px;
  margin: 0 auto;
}

button {
  border-radius: 8px;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  text-align: center;
  margin: 10 0;

}