.navbar {
  background-color: #1e1a20;
}

.name,
.profession {
  color: antiquewhite;
  font-size: 1.7rem;
  font-family: monospace;
}

.links {
  color: antiquewhite;
}

.links:hover {
  color: #ffc300;
}

/* .btn-nav {
  padding:
} */

Button:hover {
  background-color: #ffc300;
}