.name,
.profession {
  color: antiquewhite;
  font-size: 1.7rem;
  font-family: monospace;
}

.links {
  color: antiquewhite;
}


button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: monospace;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  margin: 8px;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background-color: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button .links {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 10px 10px;
  color: antiquewhite;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.1em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover .links {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}